@model IEnumerable<WebSystemRest.Models.tb_plato>

@{
    ViewBag.Title = "Platos";
    Layout = "~/Views/Shared/_LayoutPlatos.cshtml";
}

<h2>Platos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_plato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_tipo.desc_tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_plato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_tipo.desc_tipo)
        </td>
    </tr>
}

</table>
